<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e0b4e5cac3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>

</head>

<body class="home">
    <header class="home__header">
        <div class="home__header--search">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre"></a>
            <form action="">
                <input type="text" name="" id="" placeholder="Buscar productos, mas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul class="home__header__nav--list">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="home__header__nav--list">
                <li><a href="">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <div class="home__header__banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>
    </header>
    <main class="home__main">
        <h1>Productos</h1>
        <h3>Basado en tu última visita</h3>
        <section>
            <div class="home__main__section--product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="home__main__section--contenedor">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="home__main__section--product--price">$6.770</p>
                    <p class="home__main__section--product--des">40% OFF</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </div>
            <div class="home__main__section--product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="home__main__section--contenedor">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="home__main__section--product--price">$230.000</p>
                    <p class="home__main__section--product--des">20% off</p>
                    <h5>MacBook Pro 2019</h5>
                </div>
            </div>
            <div class="home__main__section--product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular">
                <div class="home__main__section--contenedor">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="home__main__section--product--price">$70.500</p>
                    <p class="home__main__section--product--des">10% off</p>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </div>
            <div class="home__main__section--product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv">
                <div class="home__main__section--contenedor">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="home__main__section--product--price">$23.200</p>
                    <p class="home__main__section--product--des">5% off</p>
                    <h5>SmartTv Samsung 43"</h5>
                </div>

            </div>
        </section>
        <h3>Sección de Ofertas</h3>
        <section>
            <div class="home__main__section--product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="home__main__section--contenedor">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="home__main__section--product--price">$6.770</p>
                    <p class="home__main__section--product--des">40% OFF</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </div>
            <div class="home__main__section--product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="home__main__section--contenedor">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="home__main__section--product--price">$230.000</p>
                    <p class="home__main__section--product--des">20% off</p>
                    <h5>MacBook Pro 2019</h5>
                </div>
            </div>
            <div class="home__main__section--product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular">
                <div class="home__main__section--contenedor">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="home__main__section--product--price">$70.500</p>
                    <p class="home__main__section--product--des">10% off</p>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </div>
            <div class="home__main__section--product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv">
                <div class="home__main__section--contenedor">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="home__main__section--product--price">$23.200</p>
                    <p class="home__main__section--product--des">5% off</p>
                    <h5>SmartTv Samsung 43"</h5>
                </div>

            </div>
        </section>
    </main>
    <footer class="home__footer">
        <section class="home__footer__section">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="home__footer__section">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="home__footer__section">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <h4 class="home__footer--copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

    </footer>
</body>

</html>