.home {
    background-color: var(--colorAmarillo);
    font-family: 'Roboto', sans-serif;
}
h1, h3{
    font-size: var(--textSizeTitulares);
    padding: 10px;
}
/*------- HEADER-------  */
.home__header--search {
    padding: 20px;
    font-size: var(--textSizeCuerpos);
}

.home__header p {
    padding: 10px;
    text-align: center;

}
.home__header img {
    width: 60%;

}
.home__header__nav--list {
    list-style: none;
    padding: 20px 0 0 0;

}

.home__header__nav--list a {
    text-decoration: none;
    color: black;

}

.burger-menu {
    text-align: center;
    font-size: var(--textSizePrecios);
    color: white;
}

.burger-menu i {
    background-color: var(--colorCeleste);
    padding: 10px;
    border-radius: 5px;
}

/*------- MAIN-------  */
.home__main{
    padding: 15px;
    text-align: center;
}

.home__main__section--product{
    padding: 15px;
    background-color: white;
    border: 2px solid var(--colorGrisOscuro);
    margin: 10px;
    border-radius: 10px;
}
.home__main__section--product--des, h5{
    font-size: var(--textSizeDescripciones);
}
.home__main__section--product img {
    width: 100%;
}
.home__main__section--product--price{
    font-size: var(--textSizePrecios);
}
/*------- FOOTER-------  */
.home__footer{
    text-align: center;
    color: var(--colorGrisOscuro);
    background-color: white;
    padding: 10px;
}
.home__footer__section{
     padding: 10px;
}
.home__footer__section i{
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
   
}
.home__footer--copy, .home__footer__section p{
    font-size: var(--textSizeCuerpos)
   
}
